  
<div class="nav">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark "> 
        <div class="logo float-left">
            <h1 class="text-light" style="font-size: 1rem;">Welcome to ABC Electronics</h1>
          </div>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active ">
                   <button type="submit"class="btn btn-warning" (click)="goToClinetHome()" style="margin-left:675px">Home</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <li class="nav-item">
                <button type="button" (click)="goToHomePage()" class="btn btn-warning" style="margin-left:15px"> <a href = ''>Log Out</a></button>
            </li>
        </div>
    </nav>
</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="/assets/img/complaint.jpg" alt="">
        <div class="card-body">
            <h4 class="card-title">Complaint Details</h4>
            <hr>
            <div *ngIf = "complaint">
                <div>
                    <label> <b> ComplaintId : </b></label> &nbsp;&nbsp;{{complaint.complaintId}}
                </div>
                <div>
                    <label> <b> Product Model Number : </b></label> &nbsp;&nbsp;{{complaint.productModelNumber}}
                </div>
                <div>
                    <label> <b> Complaint Description : </b></label>&nbsp;&nbsp; {{complaint. complaintName}}
                </div>
                <div>
                    <label> <b> Complaint Status : </b></label> &nbsp;&nbsp;{{complaint.status}}
                </div>
                <div>
                    <label> <b> Client Id : </b></label> &nbsp;&nbsp;{{complaint.clientId}}
                </div>
                <div>
                    <label> <b> Engineer Id : </b></label>&nbsp;&nbsp; {{complaint.engineerId}}
                </div>
                <div>
                    <label> <b> Complaint Regestration date : </b></label>&nbsp;&nbsp; {{complaint.complaintRegDate}}
                </div>
                <div>
                    <label> <b> Maximum date to resolve : </b></label> &nbsp;&nbsp;{{complaint.maximumDateToResolve}}
                </div>
            </div>
        </div>
    </div>
  
</div>