<p>product-details works!</p>
<h2>Complaint Details</h2>
<hr>
<div *ngIf = "product">
    <div>
        <label> <b> ClientId : </b></label>{{product.clientId}}
    </div>
    <div>
        <label> <b> Model Number : </b></label> {{product.modelNumber}}
    </div>
    <div>
        <label> <b> Product Name: </b></label> {{product.productName}}
    </div>
    <div>
        <label> <b> Product Category Name : </b></label> {{product.productCategoryName}}
    </div>
    <div>
        <label> <b> Date of Purchase : </b></label> {{product.dateofPurchase}}
    </div>
    <div>
        <label> <b>  Warranty Years : </b></label> {{product. warrantyYears}}
    </div>
    <div>
        <label> <b>  Warranty Date : </b></label> {{product. warrantyDate}}
    </div>
    
</div>