<p>add-product works!</p>
<div style="width:400px" [hidden]= "submitted">
    <!-- <form (ngSubmit)="onSubmit()"> -->
        <form #addProductForm="ngForm" novalidate>
        <div class="form-group">
            <label for="modelNumber">Product Model Number</label>
            <input type="text" name="modelNumber" class="form-control" 
                    placeholder="Enter the product model number" required  
                    #modelNumber="ngModel"
                    [(ngModel)]= "product.modelNumber"
                    [ngClass]= "{'is-invalid':modelNumber?.errors && (modelNumber?.touched || modelNumber?.dirty),
                                    'is-valid':modelNumber?.valid}">
            <div class="invalid-feedback">
                <strong *ngIf= "modelNumber?.errors?.required">Product Model Number is required</strong>
                <!-- <strong *ngIf= "productModelNumber?.errors && (productModelNumber?.touched || productModelNumber?.dirty) ">Title is not valid</strong> -->
            </div>
        </div>
        <div class="form-group">
            <label for=" productName">productName</label>
            <input type="text" name=" productName" class="form-control" 
                  placeholder="Enter the details of  productName" 
                  required [(ngModel)]= "product.productName" #productName="ngModel"
                  [ngClass]= "{'is-invalid': productName?.errors && ( productName?.touched ||  productName?.dirty),
                  'is-valid': productName?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= " productName?.errors?.required">productName is required</strong>
                </div>
        </div>
        <div class="form-group">
            <label for="productCategoryName">productCategoryName</label>
            <input type="text" name="productCategoryName" class="form-control" 
                  placeholder="productCategoryName" required 
                  [(ngModel)]= "product.productCategoryName" #productCategoryName="ngModel"
                  [ngClass]= "{'is-invalid':productCategoryName?.errors && (productCategoryName?.touched || productCategoryName?.dirty),
                  'is-valid':productCategoryName?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= "productCategoryName?.errors?.required">productCategoryName is required</strong>
                </div>
        </div>
        <div class="form-group">
            <label for="dateofPurchase">dateofPurchase</label>
            <input type="date" name="dateofPurchase" class="form-control" 
                  placeholder="Enter the dateofPurchase" required 
                  [(ngModel)]= "product.dateofPurchase" #dateofPurchase="ngModel"
                  [ngClass]= "{'is-invalid':dateofPurchase?.errors && (dateofPurchase?.touched || dateofPurchase?.dirty),
                  'is-valid':dateofPurchase?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= "dateofPurchase?.errors?.required">dateofPurchase is required</strong>
                </div>
        </div>
        <div class="form-group">
            <label for=" warrantyYears"> warrantyYears</label>
            <input type="text" name=" warrantyYears" class="form-control" 
                  placeholder=" warrantyYears" required 
                  [(ngModel)]= "product. warrantyYears" #warrantyYears="ngModel"
                  [ngClass]= "{'is-invalid': warrantyYears?.errors && ( warrantyYears?.touched ||  warrantyYears?.dirty),
                  'is-valid': warrantyYears?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= " warrantyYears?.errors?.required"> warrantyYears is required</strong>
                </div>
        </div>
        <div class="form-group">
            <label for="clientId">Client Id</label>
            <input type="text" name="clientId" class="form-control" 
                  placeholder="Enter the Client Id" required 
                  [(ngModel)]= "product.clientId" #clientId="ngModel"
                  [ngClass]= "{'is-invalid':clientId?.errors && (clientId?.touched || clientId?.dirty),
                  'is-valid':clientId?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= "clientId?.errors?.required">Client Id is required</strong>
                </div>
        </div>
        <button type="submit" class="btn btn-success" (click)= "onSubmit()" [disabled]= "addProductForm.invalid">Add Product</button>
        <button type="submit" class="btn btn-default" (click)= "addProductForm.reset()">Reset</button>
    </form>