<p>get-product-by-client-id works!</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Products List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Client Id</th>
                    <th>Product Model No</th>
                    <th>Prodcut Name</th>
                    <th>Warranty Date</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let product of products">
                        <td >{{product.clientId}}</td>
                        <td>{{product.modelNumber}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.warrantyDate}}</td>
                        <td>
                            <button (click)="productDetails(product.modelNumber)" class="btn btn-info" >Details>></button>
                            <!-- <button (click)="changeStatus(complaint.complaintId,complaint.status)" class="btn btn-danger" style="margin-left:15px">Change Status</button> -->
                            <!-- <button (click)="getEngineerDetails(complaint.complaintId)" class="btn btn-info" style="margin-left:15px">Engineer Details</button> -->
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div> 